<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="static/style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="static/script.js"></script>
    
        <title>EuroSat</title>
        <a href="https://it-omscholing.nl/locaties/hogeschool-rotterdam/">
            <div>
            <a><img src='static/banner.PNG'/></a>
            </div>
            <div>
            <img src='static/miw.PNG'/>
            <em>Author: Jeroen Boogaard</em>
            </div>
        </a>    
    </head>

    <body>
        <div style="padding:20px;">
            <h1>Eurosat Classifier in Flask</h1>
            <p>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class=flashes>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
                {% endwith %}
            </p>
            <form method="post" action="/" enctype="multipart/form-data">
                <dl>
                    <p>
                        <input type="file" name="files[]" webkitdirectory directory multiple autocomplete="off" required/>
                    </p>
                </dl>
                <p>
                    <input type="submit" value="Submit">
                </p>
            </form>
        
            {% if filenames and labels %}
            {% for i in range(0, [filenames|length, 80]|min) %}
                    <div style="padding:20px;float:left;" class="wrapingimage">                        
                        <img width="200" height="200" src="{{ url_for('display_image', filename=filenames[i]) }}">
                        <p>{{filenames[i]}}</p>
                        <!-- p>{{labels[i]}}</p -->
                    </div>
                {% endfor %}
            {% endif %}

        </div>
    </body>
</html>