deel-datasets
ipywidgets
jupyterlab
matplotlib
matplotlib 
matplotlib-venn
numexpr 
numpy
numpy 
pandas
pyspark
Pillow
ptpython
pyspark 
python-spark-reader-library
scipy
seaborn 
SimPyLC==3.10.0
sklearn
tensorboard-plugin-wit 
tensorflow_addons 
tensorflow_datasets 
tensorflow-estimator 
tensorflow_hub
widgetsnbextension
bert-extractive-summarizer
sentence-transformers
spacy
transformers