deel-datasets
ipywidgets
jupyterlab
matplotlib
matplotlib 
matplotlib-venn
numexpr 
numpy
numpy 
pandas
pyspark
Pillow
ptpython
pyspark 
python-spark-reader-library
scipy
seaborn 
SimPyLC==3.10.0
sklearn
sparkflow
widgetsnbextension