Pillow
PyOpenGL==3.1.6
PyOpenGL-accelerate==3.1.6
SimPyLC==3.10.0
ansible
bert-extractive-summarizer
deel-datasets
ipywidgets
jupyterlab
matplotlib
matplotlib
matplotlib-venn
numexpr
numpy
numpy
pandas
ptpython
scipy
seaborn
sentence-transformers
sklearn
spacy
torch
torchvision 
torchaudio
transformers
widgetsnbextension